
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";



$mainColor: #e2494c;
$logoColor: #505050;
$hoverNavColor: #ee9395;
$secondColor: #666666;
$blackColor: #333333;
$grayColor: #979797;
$lineColor: #e2e2e2;
$bulletsColor: #cecece;
$whiteColor: #FFF;
$placeholderColor: #989898;


$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
